<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人博客</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/article_detail.css">
    <link rel="stylesheet" href="./css/comment.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <a href="/" class="title">我的个人博客 | 技术博客</a>
            <ul class="nav">
                <li><a href="/index.html">首页</a></li>
                <li><a href="/siteMap.html">地图</a></li>
                <li><a href="/about.html">关于</a></li>
                <li><a href="/guestbook.html">留言</a></li>
            </ul>
            <div class="search-box">
                <input type="text" placeholder="输入关键词查找">
                <button>搜索</button>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="container">
            <div class="left-part">
                <div class="article-wrapper" id="articleArea">
                    <div class="article-detail">
                        <h2 class="article-title">{{ article.title }}</h2>
                        <p class="article-info">作者: the13thday 分类: {{ article.tags }} 发布于: {{ article.utime }} 浏览({{ article.views }}) 评论(3)</p>
                        <div class="article-content" v-html="article.content"></div>
                    </div>
                    <div class="article-pager">
                        <a :href="pathname + '?aId=' + (article.id - 1)">上一页</a><a :href="pathname + '?aId=' + (article.id + 1)">下一页</a>
                    </div>
                </div>
                <div class="send-comment" id="sendComment">
                    <p>发表评论</p>
                    <div class="input-wrapper">
                        <input type="text" name="name" placeholder="昵称" v-model="name">
                        <input class="email" type="text" name="email" placeholder="邮箱（评论被恢复时你可能收到通知）" v-model="email">
                    </div>
                    <textarea name="content" id="" cols="30" rows="10" placeholder="无意义的内容我可能不会回复你" v-model="content"></textarea>
                    <div class="validate">
                        <input  class="captcha" type="text" name="validate" placeholder="验证码" v-model="validate">
                        <span v-on:click="getCaptchaCode" v-html="svgCaptcha"></span>
                    </div>
                    <div class="btn-group">
                        <button class="btn" @click="submitComment">提交留言</button>
                        <button class="btn" @click="clearInput">重写</button>
                    </div>
                </div>
            </div>
            <div class="right-part">
                <div class="panel" id="randomTags">
                    <div class="panel-title">
                        <h4>随机标签云</h4>
                    </div>
                    <div class="panel-content panel-padding">
                        <a href="/" v-bind:style="{'color': randomColor(), 'font-size': randomSize()}" v-for="tag in tags">{{
                            tag }}</a>
                    </div>
                </div>
                <div class="panel" id="recentHot">
                    <div class="panel-title">
                        <h4>最近热门</h4>
                    </div>
                    <ul class="panel-content">
                        <li v-for="hot in hots"><a v-bind:href="hot.link">{{ hot.title }}</a></li>
                    </ul>
                </div>
                <div class="panel" id="new_comments">
                    <div class="panel-title">
                        <h4>最新评论</h4>
                    </div>
                    <ul class="panel-content">
                        <li v-for="comment in comments">
                            <div>
                                <span>{{ comment.title }}</span>
                                <span class="pull-right">{{ comment.date }}</span>
                            </div>
                            <p><a href="/">{{ comment.content }}</a></p>
                        </li>
                    </ul>
                </div>

                <div class="panel">
                    <div class="panel-title">
                        <h4>友情链接</h4>
                    </div>
                    <ul class="panel-content col-2">
                        <li><a href="">唉踢茶馆</a></li>
                        <li><a href="">唉踢茶馆</a></li>
                        <li><a href="">唉踢茶馆</a></li>
                        <li><a href="">唉踢茶馆</a></li>
                        <li><a href="">唉踢茶馆</a></li>
                        <li><a href="">唉踢茶馆</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <ul>
            <li><a href="/">c++</a></li>
            <li><a href="/">java</a></li>
            <li><a href="/">javascript</a></li>
            <li><a href="/">PHP</a></li>
            <li><a href="/">wordpress</a></li>
            <li><a href="/">关于SEO</a></li>
            <li><a href="/">听听音乐 </a></li>
            <li><a href="/">建站经验</a></li>
            <li><a href="/">新闻资讯</a></li>
            <li><a href="/"> 片言碎语</a></li>
        </ul>
        <p>Copyright © 2010-2017 郑晓个人博客 All rights reserved. 由免费开源的WordPress强力驱动. 鲁ICP备14017955号站长统计</p>
    </footer>





</body>
    <script src="./js/axios.js"></script>
    <script src="./statice/vue.js"></script>
    <script src="./js/base.js"></script>
    <script src="./js/article-detail.js"></script>
</html>