<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/guestbook.css">
    <link rel="stylesheet" href="./css/comment.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <a href="/" class="title">我的个人博客 | 技术博客</a>
            <ul class="nav">
                <li><a href="/index.html">首页</a></li>
                <li><a href="/siteMap.html">地图</a></li>
                <li><a href="/about.html">关于</a></li>
                <li><a href="/guestbook.html">留言</a></li>
            </ul>
            <div class="search-box" id="search">
                <input v-model="searchText" v-on:keyup.enter="submit" type="text" placeholder="输入关键词查找">
                <button v-on:click="submit">搜索</button>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="container">
            <div class="left-part">
                <div class="descript">
                    <p>欢迎灌水交流，别看我长时间不发博，博主可一直都在线~</p>
                    <p>友链只交换技术类个人博客。</p>
                    <p>不要皮，谢谢。</p>
                </div>
                <div v-if="commentsCount" class="comment-area" id="commentArea">
                    <h4>关于：目前有 {{ commentsCount }} 条留言</h4>
                    <div class="leave-msg" v-for="comment in commentsList">
                        <div class="msg-info">
                            <img class="avatar" src="./img/avatar.jpg" alt="">
                            <span>{{ comment.user_name }}:</span>
                            <span>
                                <a v-if="comment.parent_name !== '__leave__msg__'" href="">回复@{{ comment.parent_name }}</a>
                                发表于 {{ comment.ctime }}
                                <a v-on:click="reply(comment.user_name)" href="#sendComment">[回复]</a>
                            </span>
                        </div>
                        <div class="msg-content">{{ comment.content }}</div>
                    </div>
                </div>
                <div class="send-comment-wrapper">
                    <div class="send-comment" id="sendComment">
                        <p>发表评论</p>
                        <div class="input-wrapper">
                            <input type="hidden" id="parent_comment_id" value="-3">
                            <input type="hidden" id="parent_comment_name" value="__leave__msg__">
                            <input type="text" name="name" placeholder="昵称" v-model="name">
                            <input class="email" type="text" name="email" placeholder="邮箱（评论被恢复时你可能收到通知）" v-model="email">
                        </div>
                        <textarea name="content" id="" cols="30" rows="10" placeholder="无意义的内容我可能不会回复你" v-model="content"></textarea>
                        <div class="validate">
                            <input  class="captcha" type="text" name="validate" placeholder="验证码" v-model="validate">
                            <span v-on:click="getCaptchaCode" v-html="svgCaptcha"></span>
                        </div>
                        <div class="btn-group">
                            <button class="btn" @click="submitComment">提交留言</button>
                            <button class="btn" @click="clearInput">重写</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-part">
                <div class="panel" id="randomTags">
                    <div class="panel-title">
                        <h4>随机标签云</h4>
                    </div>
                    <div class="panel-content panel-padding">
                        <a v-for="tag in tags" v-bind:href="tag.link" v-bind:style="{'color': randomColor(), 'font-size': randomSize()}" >{{ tag.tag }}</a>
                    </div>
                </div>
                <div class="panel" id="recentHot">
                    <div class="panel-title">
                        <h4>最近热门</h4>
                    </div>
                    <ul class="panel-content">
                        <li v-for="hot in hots"><a v-bind:href="hot.link">{{ hot.title }}</a></li>
                    </ul>
                </div>
                <div class="panel" id="new_comments">
                    <div class="panel-title">
                        <h4>最新评论</h4>
                    </div>
                    <ul class="panel-content">
                        <li v-for="comment in comments">
                            <div>
                                <span>{{ comment.title }}</span>
                                <span class="pull-right">{{ comment.date }}</span>
                            </div>
                            <p><a v-bind:href="toWhere(comment.aId)">{{ comment.content }}</a></p>
                        </li>
                    </ul>
                </div>
                <div class="panel">
                    <div class="panel-title">
                        <h4>友情链接</h4>
                    </div>
                    <ul class="panel-content col-2" id="friend_links">
                        <li v-for="link in links"><a v-bind:href="link.url">{{ link.name }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <ul>
            <li><a href="/">c++</a></li>
            <li><a href="/">java</a></li>
            <li><a href="/">javascript</a></li>
            <li><a href="/">PHP</a></li>
            <li><a href="/">wordpress</a></li>
            <li><a href="/">关于SEO</a></li>
            <li><a href="/">听听音乐 </a></li>
            <li><a href="/">建站经验</a></li>
            <li><a href="/">新闻资讯</a></li>
            <li><a href="/"> 片言碎语</a></li>
        </ul>
        <p>Copyright © 2010-2017 郑晓个人博客 All rights reserved. 由免费开源的WordPress强力驱动. 鲁ICP备14017955号站长统计</p>
    </footer>

    <script src="js/axios.js"></script>
    <script src="statice/vue.js"></script>
    <script src="js/base.js"></script>
    <script src="./js/guestbook.js"></script>
</body>
</html>